.olControlLayerSwitcher .layersDiv {
    background-color: #6395BA !important;
}

.dmp-vector-highlight .x-grid-cell {
    background-color: #FFFF9C;
}

.dmp-delete-highlight .x-grid-cell {
    background-color: #FFE3E5;
}