@import "../fonts/font-awesome-4.0.3/scss/font-awesome.scss";

.fa, .dmp-drop-message {
  color: #999;

  &:hover {
      color: $panel-base-color;
      opacity: $tool-opacity-over;
  }
}

.x-tool .fa, .x-btn.x-tool .fa {
  color: $panel-header-glyph-color;
  opacity: $panel-header-glyph-opacity;
  font-size: 16px;

  &:hover {
    opacity: $tool-opacity-over;
  }
}

.x-btn.x-tool:hover .fa {
  opacity: $tool-opacity-over;
}

.x-btn.x-tool .x-tool-filebutton {
  font-size: 0px;
  width: 16px;
  height: 16px;
  top: 0px;
  right: 0px;
}

.ux-notification-window .x-window-body {
  text-align: center;
  padding: 15px 5px 15px 5px;
}

#Dmp-drop-mask {
  display: none;
  z-index: 100001;
}

.dmp-drop-target {
  display: none;
  z-index: 100000;
  background-color: #eee;
  opacity: 0.9;
  font-size: 5em;
  text-align: center;
}

/*
 * Placeholder not supported by this sencha cmd
 %drop-mask {
  display: table;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}*/

.dmp-drag-file {
  .dmp-drop-target, #Dmp-drop-mask {
    //@extend %drop-mask
    display: table;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }
}

#Dmp-drop-mask.dmp-drag-file, #Dmp-drop-mask.dmp-drag-file + div.dmp-drop-target {
  //@extend %drop-mask
  display: table;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.dmp-drop-message {
  vertical-align: middle;
  display: table-cell;
}

.dmp-external-link {
  font-size: 75%;
  top: -0.2em;
  position: relative;
  padding: 0 0.2em;
}
